
SVM/._trainingSVM.py
SVM/._featureExtractor.py
SVM/._Manual de entrenamiento de SVM.pdf
SVM/._TrainingFiles.py
._idReader.py
._preprocessing.py
._reading.py
__pycache__/evaluation.cpython-37.pyc
__pycache__/preprocessing.cpython-37.pyc
__pycache__/reading.cpython-37.pyc
Examples/._luz_011.png
Examples/._luz_010.png
Examples/._luz_009.png
Examples/._luz_008.png
Examples/._luz_007.png
Examples/._luz_006.png
Examples/._luz_005.png
Examples/._luz_004.png
Examples/._luz_003.png
Examples/._luz_002.png
Examples/._luz_001.png
Examples/._INEREGH_005.png
Examples/._INEREGH_004.png
Examples/._INEREGH_003.png
Examples/._INEREGH_002.png
Examples/._INEREGH_001.png
Examples/._INEREEF_003.png
Examples/._INEREEF_002.png
Examples/._INEREEF_001.png
Examples/._INEFRGH_010.png
Examples/._INEFRGH_009.png
Examples/._INEFRGH_008.png
Examples/._INEFRGH_007.png
Examples/._INEFRGH_006.png
Examples/._INEFRGH_005.png
Examples/._INEFRGH_004.png
Examples/._INEFRGH_003.png
Examples/._INEFRGH_002.png
Examples/._INEFRGH_001.png
Examples/._INEFREF_010.png
Examples/._INEFREF_009.png
Examples/._INEFREF_008.png
Examples/._INEFREF_007.png
Examples/._INEFREF_006.png
Examples/._INEFREF_005.png
Examples/._INEFREF_004.png
Examples/._INEFREF_003.jpeg
Examples/._INEFREF_002.png
Examples/._INEFREF_001.png
Examples/._IFERED_005.png
Examples/._IFERED_004.png
Examples/._IFERED_003.png
Examples/._IFERED_002.png
Examples/._IFERED_001.png
Examples/._IFEREC_020.png
Examples/._IFEREC_019.png
Examples/._IFEREC_013.png
Examples/._IFEREC_012.png
Examples/._IFEREC_011.png
Examples/._IFEREC_005.png
Examples/._IFEREC_004.png
Examples/._IFEREC_003.png
Examples/._IFEREC_002.jpeg
Examples/._IFEREC_001.png
Examples/._IFEFRD_005.png
Examples/._IFEFRD_004.png
Examples/._IFEFRD_003.png
Examples/._IFEFRD_002.png
Examples/._IFEFRD_001.png
Examples/._IFEFRC_010.png
Examples/._IFEFRC_009.png
Examples/._IFEFRC_008.png
Examples/._IFEFRC_007.png
Examples/._IFEFRC_006.png
Examples/._IFEFRC_005.png
Examples/._IFEFRC_004.png
Examples/._IFEFRC_003.png
Examples/._IFEFRC_002.png
Examples/._IFEFRC_001.png
Functions/__pycache__/__init__.cpython-37.pyc
Functions/__pycache__/align_images.cpython-37.pyc
Functions/__pycache__/alignDocFunctions.cpython-37.pyc
Functions/__pycache__/backIDFunctions.cpython-37.pyc
Functions/__pycache__/cfeFunctions.cpython-37.pyc
Functions/__pycache__/delimitadores.cpython-37.pyc
Functions/__pycache__/gammaFunction.cpython-37.pyc
Functions/__pycache__/orientationFunctions.cpython-37.pyc
Functions/__pycache__/validationFunctions.cpython-37.pyc
Functions/__pycache__/__init__.cpython-37.pyc
Functions/__pycache__/align_images.cpython-37.pyc
Functions/__pycache__/alignDocFunctions.cpython-37.pyc
Functions/__pycache__/backIDFunctions.cpython-37.pyc
Functions/__pycache__/delimitadores.cpython-37.pyc
Functions/__pycache__/gammaFunction.cpython-37.pyc
Functions/__pycache__/orientationFunctions.cpython-37.pyc
Functions/__pycache__/validationFunctions.cpython-37.pyc
Functions/__pycache__/__init__.cpython-37.pyc
*.pyc
Templates/._templateCFE8.png
Templates/._templateCFE7.png
Templates/._templateCFE6.png
Templates/._templateCFE5.png
Templates/._templateCFE4.png
Templates/._templateCFE3.png
Templates/._templateCFE2.png
Templates/._templateCFE1.png
Templates/._GHTemplate1.png
Templates/._EFTemplate.png
Templates/._DTemplate1.jpg
Templates/._CTemplate1.png
Functions/__pycache__/validationFunctions.cpython-37.pyc
Functions/__pycache__/__init__.cpython-37.pyc
Functions/.___init__.py
._README.md
Pickles/._README.md
